[fetch]
    prune = true

[user]
	email = jesper@iqit.dk
	name = Jesper Hauge

[core]
	editor = code --wait --new-window

[credential]
	helper = manager

	useHttpPath = true
[winUpdater]
	recentlySeenVersion = 2.21.0.windows.1
